################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OasisOne/.vs/OasisOne/FileContentIndex/2336f884-8fcb-4d22-891b-b7e9ac2bc4bd.vsidx
/OasisOne/.vs/OasisOne/FileContentIndex/5c1a1510-c959-4f86-8c44-e13ab65bce7a.vsidx
/OasisOne/.vs/OasisOne/FileContentIndex
