<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="inicio-sin-login">
        <div class="div">
            <div class="logo-blanco">
                <div class="overlap-group">
                    <div class="text-wrapper">OASIS</div>
                    <div class="text-wrapper-2">Spa</div>
                    <div class="rectangle"></div>
                </div>
            </div>
            <p class="p">RENUEVA TU CUERPO, RELAJA TU ALMA</p>
            <div class="overlap">
                <div class="text-wrapper-3">SEDES</div>
                <div class="icono-buscar">
                    <div class="overlap-2">
                        <div class="ellipse"></div>
                        <img class="line" src="https://c.animaapp.com/mbjmt3aiQuwODo/img/line-1.svg" />
                    </div>
                </div>
                <div class="SERVICIOS"><div class="text-wrapper-4">SERVICIOS</div></div>
                <img class="home" src="https://c.animaapp.com/mbjmt3aiQuwODo/img/home--4--1.png" />
                <div class="overlap-3">
                    <div class="rectangle-2"></div>
                    <div class="text-wrapper-5">LOGIN</div>
                </div>
            </div>
            <img class="telephone-handle"
                 src="https://c.animaapp.com/mbjmt3aiQuwODo/img/telephone-handle-silhouette-1.png" />
            <div class="text-wrapper-6">604-5789436</div>
            <div class="text-wrapper-7">reservas@oasis.com</div>
        </div>
    </div>
</body>
</html>
